html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  /* background-color: #e9ebf0; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
 }

#root {
  height: 100%;
  position: relative;
  width: 100%;
  --primary-clr: #FFFFFF;
  /* --background-clr : #e9ebf0; */
  --graph-btns-clr : #944f96;
  --graph-btns-disabled:hsl(300, 32%, 23%);
  --primary-clr-textbox: #944f96;

}

.App {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: var(--background-clr);
  overflow: hidden;
}

.graphBox {
 width:100%;
 height:100%;
 overflow:hidden;
 display: flex;
 flex-direction: row;
 background-color: var(--background-clr);
}

.graphBoxLeft {
  height: 100%;
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.graphBoxRight{
  width: 100%;
  height: 100%;
}

.graph-box-right__open-note-button {
  background-color: var(--primary-clr-textbox) !important;
  margin-bottom: 2.5px !important;
  height: 2rem;
  width: 2rem;
  margin: 0;
  padding: 0;
  min-width: 0 !important;
}

.graph-box-right__graph-buttons {
  background-color: var(--graph-btns-clr) !important;
  margin: 2.5px 0 !important;
  height: 2rem;
  width: 2rem;
  margin: 0;
  padding: 0;
  min-width: 0 !important;
}

.graph-box-right__graph-buttons--disabled {
  margin: 2.5px 0 !important;
  height: 2rem;
  width: 2rem;
  background-color: var(--graph-btns-disabled)  !important;
  color:white !important;
  margin: 0;
  padding: 0;
  min-width: 0 !important;
}

.graph-box-right__to-png-buttons {
  background-color: var(--graph-btns-clr) !important;
  height: 2rem;
  width: 2rem;
  margin: 0;
  padding: 0;
  min-width: 0 !important;
}

.graph-box-right__to-png-buttons--disabled {
  height: 2rem;
  width: 2rem;
  background-color: var(--graph-btns-disabled)  !important;
  color:white !important;
  margin: 0;
  padding: 0;
  min-width: 0 !important;
}

.graph-box-right__open-note-button-container {
  position: absolute;
  margin: 0.5rem;
  width: 2rem;
  z-index: 10;
}

.graph-box-right__to-png-container {
  position: absolute;
  margin: 0.5rem;
  right:0;
  width: 2rem;
  z-index: 10;
}

.wrapper {
  padding: 1rem;
  background-color: var(--primary-clr-textbox);
  border-radius: 1%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  box-shadow: 0px 1px 4px 1px grey;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.cyto {
  width: 100%;
  height: 100%;
}

.graphBox-wrapper__clinical-notes__header {
  margin-bottom: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

#clincalNotesTextField {
  height: -webkit-fill-available;
  border-radius: 5px;
}

.graphBox-wrapper__clinical-notes__action-fields {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

h5{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.collapsed-child { 
  opacity: 0;
  display: none;
  visibility: hidden;
}

 textarea {
  height: 200px;
  margin-bottom: 10px;
  /* background-color: #dda2bb; */
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  resize: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--primary-clr);
  /* background-color:#1e3d59; */

 }

 .nav-png {
  background-color: #944f96;
 }

  .graph-box-right__button-container {
  display:flex;
  flex-direction: row;
  white-space: nowrap;
  
 }

 .graph-box-right__button-container__label {
  align-self: center !important;
  margin-left: 5px !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
 }

.graph-box-right__button-container__label--disabled {
  align-self: center !important;
  margin-left: 5px !important;
  opacity: 0.3;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.img-box {
  width:100%;
  height:100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.img-animation {
  width:90%;
  height:90%;
  /* margin-left: 65px; */
  position: relative;
  transform: translateY(25rem);
  animation:fadeInUp 2s ease forwards;
}
.img-title {
  width:64px;
  height:59px;
}
.img-text {
  width:100px;
  height:64px;
  margin-bottom: -3px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.to-png-pop-up {
  width: 100%;
  height: 100%;
  text-align: -webkit-center !important;

}

.btn-class {
  border: 1px solid #944f96 !important;
  color: #944f96 !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  
  
}
.epic{
  background-image: url("./epic-systems-corporation-vector-logo.svg") !important;
  background-repeat: no-repeat;
  background-size: 97px 73.5px;
  background-position: center;
  width: 97px !important;
  height: 36.5px !important;
}
.book{
  width: 4rem !important;
  height: 36.5px !important;
}

.cyto-graph-container-dimensions {
  width: 100% !important;
  height: 100% !important;
}

h1 {
  font-size: clamp(5rem, 3vw + 1rem, 5rem);
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  position: relative;
  width: max-content;
  color:var(--primary-clr);
  transform: translateY(20rem);
  animation:fadeInUp 2s ease forwards;

}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation {
  /* justify-content: space-evenly; */
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.icon {
  position: absolute;
}


.legend-flex {
  display: flex;
  flex-direction:column;
    margin: 0.5rem;
  position: absolute;
  right:0;
  bottom: 0;
  z-index: 10;
}
 .legend-label {
  align-self: center !important;
  margin-left: 5px !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
 }


 .legend {
  padding: 1rem;
  /* border: 1px solid black !important; */
  list-style: none;
  font-size: 1rem;
  color: black;
  /* background-color: #333; */
  background-color: transparent;
    /* box-shadow: 0 0 15px #000; */
 }

 li {
  line-height: 2;
  display: flex;
  align-items: center;
  height: 1.25em;
  margin-bottom: 0.3em;
  padding-left: 0.5em;
  
 }  
li::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-inline-end: .5rem;
  border-width: 2px;
  border-style: solid;
}

 .legend-circle li::before {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
  }

.legend-square-exp-collapse::before {
  color:black;
  background-color: #ffb6c1;
    width: 1rem;
    height: 1rem;
    border-radius: 3px;
  }
  .legend-square-red::before {
    color:black;
    background-color: #cbc3e3;
      width: 1rem;
      height: 1rem;
      border-radius: 3px;
  }
  .legend-square-orange::before {
    color:black;
    background-color: orange;
      width: 1rem;
      height: 1rem;
      border-radius: 3px;
  }

.legend-rhombus::before {
    color:black;
    background-color: lightblue;
    width: 1rem;
    height: 1rem;
    border-radius: 3px;
    transform: rotate(45deg) scale(.85);
  }
  .legend-square-consideration::before {
      color:black;
      background-color: purple;
      width: 1rem;
      height: 1rem;
      border-radius: 3px;
  }
  .legend-square-beige::before {
    color:black;
    background-color: beige;
    width: 1rem;
    height: 1rem;
    border-radius: 3px;
}

.custom-menu-item {
  border: none !important;
  height: 32px !important;
  width: 170px !important;
  padding-left: 24px !important;
  color: rgb(0, 0, 0, 0.87) !important;
  background-color: #fafafa !important;
  font-weight: normal !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  font-size: 13px !important;
  text-align: left !important;
  box-shadow: none !important;
}

.custom-menu-item:hover {
  background-color: #c8c8c8 !important;
}

.custom-context-menu {
  border: none !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  background-color: #fafafa !important;
  box-shadow: 0px 0px 8px 0px rgb(0, 0, 0, 0.12),
    0px 8px 8px 0px rgb(0, 0, 0, 0.24) !important;
}

.cyNode {
  width: 120px;
  min-height: 60px;
  /* min-height: 60px; */
  padding: 8px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: white;
  /* background-color: #CECECE; */
  border-radius: 5px;
  -moz-box-shadow: 3px 3px 3px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 3px 3px 3px rgba(68, 68, 68, 0.6);
  box-shadow: 3px 3px 3px rgba(68, 68, 68, 0.6);
  color: #333637;
  font-weight: 700;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
}

.goggleBtn {
  font-weight: 700;
  position: absolute;
  right: -5px;
  bottom: -5px;
  padding: 3px;
  width: 16px;
  height: 16px;
  color: transparent;
  border-style: solid;
  border-color: transparent;
  border-radius: 16px;
  background-color: white;
  webkit-box-shadow: 0 5px 4px -4px #777;
  -moz-box-shadow: 0 5px 4px -4px #777;
  box-shadow: 0 5px 4px -4px #777;
}
